build/
build-debug/
build-debug-noalert/
dist/
venv/
_backup/
_skbuild/
__pychache__/
*.egg-info/

# binary
metro
metro-debug
metro-debug-noalert
*.exe

/*.txt
/*.metro

/test.*

MANIFEST.in
!CMakeLists.txt
